In [2]:
# log returns -> ln(pt/pt-1)

import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

import yfinance as yf

PG = yf.download('PG', start='1995-01-01')
PG.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close   Volume
Date
1995-01-03  15.46875  15.62500  15.43750  15.59375   7.529932  3318400
1995-01-04  15.53125  15.65625  15.31250  15.46875   7.469573  2218800
1995-01-05  15.37500  15.43750  15.21875  15.25000   7.363942  2319600
1995-01-06  15.15625  15.40625  15.15625  15.28125   7.379033  3438000
1995-01-09  15.34375  15.40625  15.18750  15.21875   7.348851  1795200

In [ ]:
PG['log_return'] = np.log(PG['Adj Close'] / PG['Adj Close'].shift(1))
print(PG['log_return'])